<article>
 <header><!---Small por que como tal no representa relevancia en el-->

    <!--small Representa un comentario aparte , es decir, textos como un descargo de responsabilidad o una nota de derechos de autoría-->
<p><small> publicado por MasterChef, <time datetime="?">November 15, 2018</time></small></p><!--USe time por que es una fecha-->
 <!--time Representa un valor de fecha y hora; el equivalente legible por máquina puede ser representado en el atributo datetime.-->

</header>
 <h2>Bajito y Despacito</h2>
<p>Esta semana estamos <i>extremadamente</i> emocionados por presentar una<!--	i Representa un texto en una voz o estado de ánimo alterno, o por lo menos de diferente calidad, como una designación taxonómica, un término técnico, una frase idiomática, un pensamiento o el nombre de un barco.-->
nueva técnica de cocina llamada <cite><b>sous vide</b></cite>. Con la técnica <cite><b>sous<!--Use b por que sous vide es el nombre del proceso entonces se debe denotar que es asi-->
vide</b></cite>, tú sumerges un recipiente (generalmente de plástico sellado
al vacío) en un baño de agua que precisamente se adapta a la
temperatura requerida para que la comida sea cocinada. En este
<!-- cite Representa el título de una obra .-->
programa, <cite>Cocina para Geeks</cite>, Jaime Potter describe la técnica como<!--Cite por que el programa se llama asi-->
<dfn>caza furtiva a temperatura ultra baja</dfn>.</p><!--dfn por que viene siendo la definicion de la tecnica-->
<p>La siguiente semana, prepararemos <q>Salmon Sous Vide con Eneldo
Holandés</q>. Para asistir al programa, contáctanos antes del 30 de<!--q Representa una cita textual  inline.-->
Noviembre.</p>
 <p>registro@masterchef.com<br>
 552-336-1800</p>
<p><em>Advertencia: El salmón cocinado a la Sous vide no está
pasteurizado. Evítalo se está embarazada o se tiene problemas de<!-- En esta parte use em por que es una entatizacion a que hay una advertencia-->
alergia e inmunidad</em>.</p>
<!--em Representa un texto enfatizado , como un acento de intensidad.-->
</article>